body {
  background-color: #222;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./space.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

#mars img {
  width: 200px;
  height: 200px;
  position:absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  clip-path: circle(100px at center);
  z-index: -1;
}

.hidden {
  display: none;
}

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}